
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/script_drink.js') }}"></script>
    <title>Website</title>
</head>
<body>

    <div id="drink1">
        <div class="title1">Select option</div>
    </div>
    <div id="logoDrink">
        <img id="logo" src="{{ url_for('static', filename='image/logo.jpg') }}">
    </div>
    <div id="drink2">
        <div class= "s square1">
            <p class="name">name1</p>
            <p class="price">35</p>
        </div>
        <div class= "s square1">
            <p class="name">name2</p>
            <p class="price">35</p>
        </div>
        <div class= "s square1">
            <p class="name">name3</p>
            <p class="price">35</p>
        </div>
    

    
        <div class= "s square1">
            <p class="name">name4</p>
            <p class="price">35</p>
        </div>
        <div class= "s square1">
            <p class="name">name5</p>
            <p class="price">35</p>
        </div>
        <div class= "s square1">
            <p class="name">name6</p>
            <p class="price">35</p>
        </div>
    </div>

    <div id="drinkButton">
        <button id="order">Order</button>
        <button id="admin">Admin</button>
    </div>
    
</body>
</html>