
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Website</title>
</head>
<body>

    <div id="d1">
        <div id="t1">Select option</div>
    </div>
    <div id="d2">
        <div class= "s square1">
            <p class="price">35</p>
        </div>
        <div class= "s square1">
            <p class="price">35</p>
        </div>
        <div class= "s square1">
            <p class="price">35</p>
        </div>
    </div>

    <div id="d3">
        <div class= "s square1">
            <p class="price">35</p>
        </div>
        <div class= "s square1">
            <p class="price">35</p>
        </div>
        <div class= "s square1">
            <p class="price">35</p>
        </div>
    </div>

    <div id="d4">
        <button onclick="buttonPressed()" id="b1"> Confirm</button>
        <button id="b2">Test</button>
        <button id="b3">Test-text</button>
        <button id="b4">Test-tex3</button>
    </div>
    
</body>
</html>