<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src= "{{ url_for('static', filename='js/log.js') }}" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="logoFrame">
        <img id="centerlogo" src="{{ url_for('static', filename='image/logo.jpg') }}">
    </div>
    <h3>Enter password</h3>
    <p id="destination">{{destination}}</p>
    <input class="password" type="text" name="password">
    <button id="passwordOK">OK</button>
    <button id="Cancel">cancel</button>
</body>
</html>