<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src= "{{ url_for('static', filename='js/order.js') }}" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <div class="logoFrame">
        <img id="centerlogo" src="{{ url_for('static', filename='image/logo.jpg') }}">
    </div>
    <button id="back">back</button>
    <div id="orderCount"></div>
    <div id="orderLog"></div>
</body>
</html>