<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src= "{{ url_for('static', filename='js/topping.js') }}" ></script>
    <title>Topping</title>
</head>
<body>
    <div id="topping1">
        <div class="title1">Product chose:</div>
        <div id="productName" class="title2"> {{product}}</div>
        <div class="title3">Choose topping: </div>
    </div>  
    
    <div id="logoDrink">
        <img id="logo" src="{{ url_for('static', filename='image/logo.jpg') }}">
    </div>

    <div id="topping2">
        <div class="s square1">
            <p class="name">name7</p>
            <p class="price">+10</p>
        </div>
        <div class="s square1">
            <p class="name">name8</p>
            <p class="price">+5</p>
        </div>
   
        <div class="s square1">
            <p class="name">name9</p>
            <p class="price">+5</p>
        </div>
        <div class="s square1">
            <p class="name">name10</p>
            <p class="price">+5</p>
        </div>
    </div>
    <div id="toppingButton">
        <button id="comfireOrder"> Confirm</button>
        <button id="cancel">cancel</button>
    </div>
    
</body>
</html>